*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
input, button, textarea{
    outline: none;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-fixed{
    position: fixed;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.w-100{
    width: 100%;
}
.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.menu-inlineblock > li{
    display: inline-block;
}
.menu > li{
    margin-left: 10px;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2.5rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
}
.bg-light{
    background-color: #F7F7F7;
}
.text-light{
    color: #F7F7F7;
}
.submenu{
    position: relative;
}
.submenu ul{
    position: absolute;
    height: 0;
    transition: .5s;
    overflow: hidden;
}
.submenu ul li{
    padding: 10px 15px;
    display: block;
}
.submenu:hover > ul{
    height: 130px;
}
.navbar{
    top:0;
    z-index: 9;
}
.space-around{
    justify-content: space-around !important;
}
.text-center{
    text-align: center;
}
.flex-direction-column{
    flex-direction: column;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 1.5rem;
}
.mt-3{
    margin-top: 2.5rem;
}
.mt-4{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 4rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 1.5rem;
}
.mb-3{
    margin-bottom: 2.5rem;
}
.mb-4{
    margin-bottom: 3rem;
}
.mb-5{
    margin-bottom: 4rem;
}
.text-bold{
    font-weight: bold;
}
.display-6{
    font-size: 28px;
}
.display-5{
    font-size: 36px;
}
